<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: rgb(37, 35, 35); color: rgb(201, 199, 199);">


    <div>
        <form method="post" action="/api/video/upload" enctype="multipart/form-data">
            <input type="text">
            <input type="text">
            video: <input type="file" name="video" ><br><br><br>
            thumbnail: <input type="file" name="thumbnail">
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>